/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

/* section: Tooltip */
.hovertip {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertip:before {
  content: attr(tooltip_text);
  visibility: hidden;
  
  overflow-y: inherit; /*new*/
  overflow-x: inherit; /*new*/

  width: auto;
  background-color: #add8e6;
  color: black;
  text-align: left;
  border-radius: 5px;
  padding: 5px 5px;
  /* fade-in*/
  opacity: 0;  
  transition: opacity 1s ease-in-out;

  /* top tooltip*/
  position: absolute; /*let tooltip wrap instead of overflow*/
  z-index: 1;
  left: 50%; /*auto;*/
  bottom: 110%; /*auto;*/
  margin-left: -60px;
}

.hovertip.hovertiptext::before {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.hovertip:hover:before {
  opacity: 1;
  visibility: visible;
}

/* Section end*/



/* image and text side-by-side */
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  padding: 5px; /* space between two tables*/
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

figure {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}
/* end */